# Editor Config
# =================================================
# http://editorconfig.org/
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 4
continuation_indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
spaces_around_operators = true

[{*.yml,*.json,Vagrantfile}]
indent_style = space
indent_size = 2

[*.{diff,md}]
trim_trailing_whitespace = false
